* { box-sizing: border-box;
}

html {
   font-size: 62.5%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("images/table.png");
    background-size: cover;
    font-weight: bold;

    color: ivory;
    text-align: center;
}

h1 {
    color:rgb(139, 255, 154);
    font-size: 8.1rem;

    
}

p {
    font-size: x-large;
    line-height: 3rem;
}
#message {
    font-style: italic;
}

button {
    color: #016f32;
    margin: 0 .5em;
    background: rgb(139, 255, 154);
    padding: 1em 1.5em;
    font-weight: bolder;
    font-size: 2.1rem;
    line-height: 5rem;
    letter-spacing: .15em;
    border: none;
    border-radius: 2px;
   
}

.wrapper {
    height:650px;
    position: relative;
    
}

.main  {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }